.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-clr);
    width: 100%;
    padding: 10px 20px;
    min-height: 200px;
    max-width: 400px;
    border-radius: 20px;
}

.icon {
    font-size: 4rem;
}

.wrapper {
    margin-left: 12px;
}

.title {
    font-size: 1.75rem;
}

.link {
    font-weight: 700;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--secondary-clr);
    transition: text-shadow 250ms;
    margin: 16px;
    display: block;
    text-align: center;
    line-break: anywhere;
}

.link:hover {
    text-shadow: 0 0 1px var(--secondary-clr);
}

/* RESPONSIVENESS */
@media screen and (max-width: 900px) {
    .card {
        flex-direction: column;
        padding: 24px 24px 12px;
    }

    .title {
        text-align: center;
    }

    .wrapper {
        margin-left: 0;
    }
}