/* First child of the 3D Scene */
.flipping-card {
    width: 100%;
    max-width: 325px;
    height: 100%;
    position: relative;
    transition: transform 800ms;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 10px -4px var(--dark-clr);
    border-radius: 20px;
}

/* Card faces */
.flipping-card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipping-card__face--front {
    width: 325px;
    height: 125px;
    border-radius: 20px;
    position: relative;
}

.flipping-card__face--back {
    transform: rotateY(180deg);
    background-color: var(--light-clr);
    border-radius: 20px;
}


.flipping-card.is-flipped {
    transform: rotateY(180deg);
}

.flipping-card__btn {
    position: absolute;
    color: var(--primary-clr);
    font-size: 32px;
}

.flipping-card__btn:hover {
    filter: brightness(.9);
    cursor: pointer;
}

.flipping-card__btn--front {
    right: 8px;
    top: 84px;
}

.flipping-card__btn--back {
    left: 8px;
    top: 84px;
    transform: rotateY(180deg);
}

.flipping-card__description {
    width: 81%;
    text-align: center;
}

.flipping-card__icon {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
}