.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-clr);
    width: 100%;
    padding: 10px 20px;
    min-height: 200px;
    max-width: 400px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 250ms, box-shadow 250ms;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 4rem;
}

.wrapper {
    margin-left: 12px;
}

.title {
    font-size: 1.75rem;
}



/* RESPONSIVENESS */
@media screen and (max-width: 900px) {
    .card {
        flex-direction: column;
        padding: 24px 24px 12px;
    }

    .title {
        text-align: center;
    }

    .wrapper {
        margin-left: 0;
    }
}