.section-four__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 25px;
    margin-top: 16px;
    perspective: 1000px;
}

/* RESPONSIVENESS */
@media screen and (max-width: 720px) {
    .section-four__cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 720px) and (max-width: 1100px) {
    .section-four__cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}