.section-one {
    background-color: white !important;
}

.section-one__name {
    font-size: clamp(2rem, 10vw, 5.5rem);
    color: var(--primary-clr);
    font-weight: 700;
    display: block;
    text-align: center;
    margin-inline: 2rem;
}