.section-five {
    background-color: var(--primary-clr);
    align-items: center;
    justify-content: flex-start;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    margin: 0 auto 24px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
}

.map-iframe {
    border-radius: 10px;
    border: none;
}

.section-five__cities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section-five__city {
    text-decoration: none;
    color: var(--light-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    transition: text-shadow 250ms;
    text-align: center;
}

.section-five__city:nth-child(-n + 4) {
    margin-bottom: 12px;
}

.section-five__city:hover {
    text-shadow: 0 0 4px var(--light-clr);
}

/* RESPONSIVENESS */
@media screen and (max-width: 480px) {
    .section-five__cities {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-five__city:nth-child(-n + 6) {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
    .section-five__cities {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-five__city:nth-child(-n + 6) {
        margin-bottom: 12px;
    }
}