.section-four {
    flex-direction: column;
    background-color: var(--light-clr);
    align-items: center;
    justify-content: center;
}

.section-four__wrapper {
    height: calc(100vh - 80px);
    padding-top: 16px;
}

.section-four__cards {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 25px;
    margin-top: 16px;
    perspective: 600px;
}