.section-three {
    flex-direction: column;
    background-color: var(--secondary-clr);
    align-items: center;
    justify-content: flex-start;
}

.section-three__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid red;
    width: 80%;
    justify-items: center;
}

.section-three__card {
    background-color: var(--light-clr);
    border-radius: 8px;
    min-width: 250px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 2px 4px black; */
    padding: 30px;
}

.section-three__card-title {
    color: var(--primary-clr);
    /* border: 3px solid red; */
    width: 100%;
    text-align: center;
}

.section-three__card-subtitle {
    /* border: 3px solid blue; */
    width: 100%;
    display: flex;
    align-items: center;
}

.section-three__image {
    width: 30px;
    margin-right: 10px;
}