.main-page {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: auto;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: start;
    padding: 64px 0;
}

.section__header {
    color: var(--light-clr);
    font-size: 4rem;
    font-weight: 700;
    display: block;
}

.section__subheader {
    color: lightgray;
    font-size: 2rem;
    display: block;
}

.section__title {
    color: var(--light-clr);
    font-size: 3rem;
    font-weight: 700;
    margin-block: 16px;
    display: block;
    width: 100%;
    text-align: center;
}

.section__subtitle {
    color: var(--light-clr);
    font-size: 1.5rem;
    font-weight: 700;
    margin-block: 16px;
    display: block;
    text-align: center;
    max-width: 50ch;
    position: relative;
}

.section__title--black,
.section__subtitle--black {
    color: var(--dark-clr);
}

.horizontal-rule {
    width: 100%;
    color: var(--primary-clr);
}