.main-page {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: auto;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: start;
    padding: 64px 0;
}

.section__header {
    color: var(--light-clr);
    font-size: 64px;
    font-weight: 700;
}

.section__subheader {
    color: lightgray;
    font-size: 32px;
}

.section__title {
    color: var(--light-clr);
    font-size: 48px;
    font-weight: 700;
    margin-block: 16px;
    display: block;
    width: 100%;
    text-align: center;
}

.section__title--black {
    color: var(--dark-clr);
}

.horizontal-rule {
    width: 100%;
    color: var(--primary-clr);
}