.navbar {
    height: 64px;
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: var(--primary-clr);
    box-shadow: 0 2px 6px -4px var(--dark-clr);
    max-width: calc(100% - 8px);
}

.navbar__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar__nav-item {
    list-style: none;
    margin-inline: 12px;
}

.navbar__nav-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: var(--light-clr);
    transition: text-shadow 250ms;
}

.navbar__nav-link:hover {
    text-shadow: 0 0 4px var(--light-clr);
}

.sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    inset: 0;
    background-color: var(--primary-clr);
    transform: translateX(100%);
    transition: transform 175ms ease-in-out;
}

.sidebar.active {
    transform: translateX(0%);
    transition: transform 175ms ease-in-out;
}

.sidebar__menu-icon {
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 0;
    border: none;
    font-size: 2.5rem;
    height: 56px;
    width: 60px;
    border-radius: 0 0 0 100%;
    padding-left: 8px;
    cursor: pointer;
}

.sidebar__menu-icon:hover {
    filter: brightness(.9);
}

.sidebar .navbar__nav-list {
    flex-direction: column;
}

.sidebar .navbar__nav-item {
    margin-bottom: 24px;
}

.sidebar .navbar__nav-link {
    font-size: 1.75rem;
}