.navbar {
    height: 64px;
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: var(--primary-clr);
    box-shadow: 0 2px 6px -4px var(--dark-clr);
    max-width: calc(100% - 8px);
}

.navbar__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar__nav-item {
    list-style: none;
    margin-inline: 12px;
}

.navbar__nav-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: var(--light-clr);
    transition: text-shadow 175ms;
}

.navbar__nav-link:hover {
    text-shadow: 0 0 4px var(--light-clr);
}

.sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    inset: 0;
    border-radius: 0 0 0 100%;
    background-color: var(--primary-clr);
    /* transform: translateX(100%); */
    transform: scale(0);
    transform-origin: top right;
    transition: transform 175ms ease-in-out;
}

.sidebar__backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9997;
    inset: 0;
    border-radius: 0 0 0 100%;
    background-color: var(--primary-clr--dark);
    /* transform: translateX(100%); */
    transform: scale(0);
    transform-origin: top right;
    transition: transform 175ms 125ms ease-in-out;
}

.sidebar.active {
    /* transform: translateX(0%); */
    transform: scale(1);
    transform-origin: top right;
    transition: transform 175ms 125ms ease-in-out;
}

.sidebar.active~.sidebar__backdrop {
    /* transform: translateX(0%); */
    transform: scale(2);
    transform-origin: top right;
    transition: transform 175ms ease-in-out;
}

.sidebar__menu-icon {
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 0;
    border: none;
    font-size: 2.5rem;
    height: 56px;
    width: 60px;
    border-radius: 0 0 0 100%;
    padding-left: 14px;
    padding-bottom: 8px;
    cursor: pointer;
}

.sidebar__menu-icon:hover {
    filter: brightness(.9);
}

.sidebar .navbar__nav-list {
    flex-direction: column;
}

.sidebar .navbar__nav-item {
    margin-bottom: 24px;
    translate: 0 56px;
    opacity: 0;
    transition: all 175ms ease-in-out;
}

.sidebar.active .navbar__nav-item:nth-child(1) {
    translate: 0 0;
    opacity: 1;
    transition: all 175ms ease-in-out;
}

.sidebar.active .navbar__nav-item:nth-child(2) {
    translate: 0 0;
    opacity: 1;
    transition: all 175ms 150ms ease-in-out;
}

.sidebar.active .navbar__nav-item:nth-child(3) {
    translate: 0 0;
    opacity: 1;
    transition: all 175ms 300ms ease-in-out;
}

.sidebar.active .navbar__nav-item:nth-child(4) {
    translate: 0 0;
    opacity: 1;
    transition: all 175ms 450ms ease-in-out;
}

.sidebar.active .navbar__nav-item:nth-child(5) {
    translate: 0 0;
    opacity: 1;
    transition: all 175ms 600ms ease-in-out;
}

.sidebar.active .navbar__nav-item:nth-child(6) {
    translate: 0 0;
    opacity: 1;
    transition: all 175ms 750ms ease-in-out;
}

.sidebar .navbar__nav-link {
    font-size: 1.75rem;
}